@model List<Kozol.Models.Channel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (var c in Model)
    {
        <li>
            @c.Name owned by @c.Creator.UserName
        </li>
    }
</ul>