<div class="kozol-chat" data-bind="foreach: messages">
    <div class="kozol-chat-item">
        <span class="kozol-chat-user" data-bind="text: user"></span>:&nbsp;<span class="kozol-chat-message" data-bind="text: message"></span>
    </div>
</div>

<script>
    $(function () {
        var ViewModel = function () {
            var Ω = this; // Alt + 234

            Ω.hub = $.connection.messageHub;

            Ω.messages = ko.observableArray();

            Ω.getMessage = function () {
                Ω.hub.server.trigger();
                setTimeout(Ω.getMessage, Math.floor(Math.random() * (4000 - 1000)) + 1000);
            };

            Ω.hub.client.passMessage = function (message) {
                Ω.messages.push(message);
            };

            Ω.init = function () {
                Ω.hub.server.reset();
                Ω.getMessage();
            };
        };

        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);

        $.connection.hub.start(function () {
            viewModel.init();
        });
    });
</script>