<div class="kozol-chat" data-bind="foreach: messages, visible: @(Html.Raw((bool)(Session["loggedIn"] ?? false)).ToString().ToLower())">
    <div class="kozol-chat-item">
        <span class="kozol-chat-user" data-bind="text: user"></span>&nbsp;
        <span class="kozol-chat-timestamp" data-bind="text: moment(timestamp).format('h:mm:ss A')"></span>:&nbsp;
        <span class="kozol-chat-message" data-bind="text: message"></span>
    </div>
</div>

<script>
    $(function () {
        var ViewModel = function () {
            var Ω = this; // Alt + 234

            Ω.hub = $.connection.kozolHub;

            Ω.messages = ko.observableArray();

            Ω.sendMessage = function (channel, text) {
                Ω.hub.server.sendMessage(channel, @(Session["userId"]), text);
            };

            Ω.hub.client.receiveMessage = function (message) {
                Ω.messages.push(message);
            };

            Ω.hub.client.error = function (message) {
                alert(message);
            };

            Ω.init = function () {
                if (@(Html.Raw((bool)(Session["loggedIn"] ?? false)).ToString().ToLower()))
                    Ω.hub.server.joinChannel(1, @(Session["userId"]));
            };
        };

        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);

        $.connection.hub.start(function () {
            viewModel.init();
        });
    });
</script>